@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #006666;
}
.navbar .links {
  margin-left: auto;
}
.navbar :link {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create p{
  width: 100%;
  padding: 6px 10px;
  margin: 30px 0;
  border: 1px solid #ddd;
  background-color:  #e0e0d1;
  box-sizing: border-box;
  display: block;
  text-align: right;
  color: #8b8b7e;
  font-size: small;
}
.create h6{
  text-align: right;
  font-size: medium;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  text-align: right;
}
.create ::placeholder{
  color:#0099e6;
}
.create button {
  width: 100%;
  background: #00b33c;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: block;

}